<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[Captz] Stardew</title>
    <link rel="stylesheet" href="/css/root.css" />
    <link rel="shortcut icon" href="https://stardewvalleywiki.com/mediawiki/images/d/db/Starfruit.png"/>
  </head>
  <style>
    ::-webkit-scrollbar {
      width: 0px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    ::-webkit-datetime-edit-text {
      color: rgb(88, 88, 88);
      padding: 0 0.3em;
    }

    ::-webkit-calendar-picker-indicator {
      color: rgb(0, 195, 255);
      cursor: pointer;
      margin-top: 3px;
    }

    * {
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      box-sizing: border-box;
    }
    html {
      scroll-behavior: smooth;
    }

    body {
      background-color: rgb(255, 255, 255);
      overflow-x: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    main {
      max-width: 1500px;
      min-width: 300px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 20px;
      flex-direction: column;
      gap: 20px;
      overflow-x: hidden;

    }

    section.banner {
      width: 100%;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }

    section.season {
      width: 70%;
      min-width: 300px;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      padding-top: 60px;
    }

     .label {
      padding: 5px 10px;
      position: absolute;
      left: 10px;
      top: 10px;
      border-left: 3px solid rgb(255, 255, 255);
      letter-spacing: 2px;
      color: white;
      text-transform: capitalize;
    }

    .season .plant {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 10px;
      gap: 10px;
      flex-wrap: wrap;
      padding-top: 0;
    }

    .season-all{
      width: 70%;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      padding-top: 60px;
      border: 1px solid black;
      background: #ffffff;
      filter: drop-shadow(10px 10px var(--green4));

    }
    .season-all .plant{
      width: 25%;
      min-width: 200px;
      min-height: 180px;
      max-height: 180px;
      cursor: pointer;
      border-radius: 10px;
      background: #ffffff;
      color: black;
      text-decoration: none;
    }

    .season-all .plant:hover{
      filter: drop-shadow(5px 5px rgb(73, 73, 73));
    }

    .season-all .plant-item{
      width: 100% !important;
    }
    .season-all .label{
      color: black;
      border-left: 3px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .plant .plant-item {
      width: 40%;
      /*  max-width: 230px; */
      min-width: 230px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      padding-top: 20px;
      border-radius: 10px;
    }
    .plant-item img {
      max-width: 40px;
      min-width: 40px;
      object-fit: contain;
    }
    .plant-item .plant-detail {
      font-size: 0.7rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .plant-detail h2 {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .plant-detail span {
      font-size: 0.5rem;
    }

    .plant-sub {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      gap: 10px;
      border-radius: 10px;
      background: #ffffff;
    }

    .plant-sub-item {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }

    .plant-sub-item img {
      width: 10%;
    }

    .season-spring {
      background: var(--green3);
    }
    .season-summer {
      background: var(--yellow4);
    }
    .season-fall {
      background: var(--orange4);
    }
    .season-winter {
      background: var(--cyan4);
    }

    .image-set {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .image-set img{
      width: 40%;
    }
     .season-all-detail{
      width: 70%;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      padding-top: 60px;
      border: 1px solid black;
      gap: 20px;
      background: #ffffff;
      filter: drop-shadow(10px 10px var(--green4));

    }
    .season-all-detail .plant{
      width: 100%;
      min-width: 200px;
      cursor: pointer;
      border-radius: 10px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
     /*  flex-wrap: wrap; */
      gap: 20px;
      padding: 30px;
      border: 1px solid black;
    }

    .season-all-detail .plant:hover{
      filter: drop-shadow(5px 5px rgb(73, 73, 73));
    }

    .season-all-detail .plant-item{
      width: 100%;
    }
    
    .season-all-detail .label{
      color: black;
      border-left: 3px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .plane-phase{
      /* width: 100%; */
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 20px;
      
    }
    .plane-phase-item img{
      width: 40px;
    }

    .plane-phase-item{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
    .phase-day{
      font-size: .6rem;
      text-align: center;
      width: 100%;
    }


    @media screen and (max-width:1200px) {
      /*   .season-all-detail{
          width: 100%;
        } */
        .season-all-detail .plant{
          flex-wrap: wrap;
        }
    }

    @media screen and (max-width:850px) {
        .season-all{
          width: 100%;
        }
        .season-all-detail{
          width: 100%;
        }
    }

    @media screen and (max-width:630px) {
        .season-all-detail .plant{
          width: 100%;
        }
    }

    @media screen and (max-width:500px) {
        .plane-phase img{
          width: 50px;
        }
        .season-all .plant .plant-item{
          min-width: 0px;
        }
        .plane-phase img{
          width: 35px;
        }
    
    }

  

    @media screen and (max-width:350px) {
        .plane-phase {
          flex-direction: column-reverse;
        align-items: center;

        }
      
    }

  
  </style>
  <body>
    <main>
      <section class="banner">
        <div class="image-set">
          <img
            src="https://stardewvalleywiki.com/mediawiki/images/1/18/Banner_Left.png"
            alt=""
          />
          <img
            src="https://stardewvalleywiki.com/mediawiki/images/6/68/Main_Logo.png"
            alt=""
          />
          <img
            src="https://stardewvalleywiki.com/mediawiki/images/4/4a/Banner_Right.png"
            alt=""
          />
        </div>

      </section>

      <section class="season-all">
        <div class="label">
          <span>All Crop</span> <i class="fa-sharp fa-solid fa-seedling"></i>
        </div>
        <% crops.map((item , i)=>{ %>

        <a href="https://stardewvalleywiki.com/<%= item.name %>" target="_blank" class="plant">
          <div class="plant-item">
            <img src="<%= item.image %>" alt="" />


            <div class="plant-detail">
              <h2><%= item.name %></h2>
              <span><%= item.detail %></span>
            </div>
          </div>
        </a>

        
        <% }) %>
      </section>


      <section class="season-all">
        <div class="label">
          <span>Foraged Minerals</span> <i class="fa-sharp fa-solid fa-seedling"></i>
        </div>
        <% minerals.foraged.map((item , i)=>{ %>

        <a href="https://stardewvalleywiki.com/<%= item.name %>" target="_blank" class="plant">
          <div class="plant-item">
            <img src="<%= item.image %>" alt="" />


            <div class="plant-detail">
              <h2><%= item.name %></h2>
              <span><%= item.detail %></span>
            </div>
          </div>
        </a>

        
        <% }) %>
      </section>

      <section class="season-all">
        <div class="label">
          <span>Gems</span> <i class="fa-sharp fa-solid fa-seedling"></i>
        </div>
        <% minerals.gems.map((item , i)=>{ %>

        <a href="https://stardewvalleywiki.com/<%= item.name %>" target="_blank" class="plant">
          <div class="plant-item">
            <img src="<%= item.image %>" alt="" />


            <div class="plant-detail">
              <h2><%= item.name %></h2>
              <span><%= item.detail %></span>
            </div>
          </div>
        </a>

        
        <% }) %>
      </section>

      <section class="season-all">
        <div class="label">
          <span>Geode</span> <i class="fa-sharp fa-solid fa-seedling"></i>
        </div>
        <% minerals.geode.map((item , i)=>{ %>

        <a href="https://stardewvalleywiki.com/<%= item.name %>" target="_blank" class="plant">
          <div class="plant-item">
            <img src="<%= item.image %>" alt="" />


            <div class="plant-detail">
              <h2><%= item.name %></h2>
              <span><%= item.detail %></span>
            </div>
          </div>
        </a>
        <% }) %>

      </section>

      <!-- FISH -->
      <section class="season-all">
        <div class="label">
          <span>All Fish</span> <i class="fa-sharp fa-solid fa-seedling"></i>
        </div>
        <% fishs.fish.map((item , i)=>{ %>

        <a href="https://stardewvalleywiki.com/<%= item.name %>" target="_blank" class="plant">
          <div class="plant-item">
            <img src="<%= item.image %>" alt="" />


            <div class="plant-detail">
              <h2><%= item.name %></h2>
              <span><%= item.detail %></span>
            </div>
          </div>
        </a>
        <% }) %>
      </section>


    <!-- FISH -->
      <section class="season-all">
       <div class="label">
         <span>All Fish</span> <i class="fa-sharp fa-solid fa-seedling"></i>
       </div>
       <% fishs.legendary.map((item , i)=>{ %>
       <a href="https://stardewvalleywiki.com/<%= item.name %>" target="_blank" class="plant">
         <div class="plant-item">
           <img src="<%= item.image %>" alt="" />
           <div class="plant-detail">
             <h2><%= item.name %></h2>
             <span><%= item.detail %></span>
           </div>
         </div>
       </a>
       <% }) %>

     </section>


         <!-- FISH -->
         <section class="season-all">
          <div class="label">
            <span>All Fish</span> <i class="fa-sharp fa-solid fa-seedling"></i>
          </div>
          <% fishs.legendary2.map((item , i)=>{ %>
          <a href="https://stardewvalleywiki.com/<%= item.name %>" target="_blank" class="plant">
            <div class="plant-item">
              <img src="<%= item.image %>" alt="" />
              <div class="plant-detail">
                <h2><%= item.name %></h2>
                <span><%= item.detail %></span>
              </div>
            </div>
          </a>
          <% }) %>
   
        </section>
      

      <!-- Detail  -->
      <section class="season-all-detail">
        <div class="label">
          <span>All Crop</span> <i class="fa-sharp fa-solid fa-seedling"></i>
        </div>

        <% crops.map((item , i)=>{ %>
        <div class="plant">
          <div class="plant-item">
            <img src="<%= item.image %>" alt="" />

            <div class="plant-detail">
              <h2><%= item.name %></h2>
              <span><%= item.detail %></span>
              <span>Season : <%= item.data?.season.join(' , ') %></span>
              <span>Plant : <%= item.data?.totalDays %> Days</span>

            </div>
          </div>
      
            <div class="plane-phase">
                <% item.data?.phase.map((stage,i) => { %>
                  <div class="plane-phase-item">
                    <img src="<%= stage.image %>" alt="">
                    <span class="phase-day"> <%= stage.plantDays ? stage.plantDays+" Day" : "Harvest"   %>  </span>
                  </div>
              <% }) %>
            </div>
        </div>
    
        <% }) %>
      </section>





  <!--     <% season.map((item,i)=>{ %>

      <section class="season season-spring">
        <div class="label">
          <%= item %> <i class="fa-sharp fa-solid fa-seedling"></i>
        </div>

        <div class="plant-sub">
          <% cropSpring.map((item , i)=>{ %>
          <div class="plant-sub-item">
            <img src="<%= item.image %>" alt="" />
            <img src="<%= item.seeds %>" alt="" />
            <div class="plant-detail"><%= item.name %></div>
          </div>

          <% }) %>
        </div>

        <div class="plant">
          <div class="plant-item">
            <img
              src="https://stardewvalleywiki.com/mediawiki/images/9/90/Wild_Horseradish.png"
              alt=""
            />
            <div class="plant-detail">
              <h2>Wild Horseradish</h2>
              <span
                >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Et</span
              >
            </div>
          </div>
          <div class="plant-item">
            <img
              src="https://stardewvalleywiki.com/mediawiki/images/4/4b/Daffodil.png"
              alt=""
            />
            <div class="plant-detail">
              <h2>Daffodil</h2>
              <span
                >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Et</span
              >
            </div>
          </div>
          <div class="plant-item">
            <img
              src="https://stardewvalleywiki.com/mediawiki/images/5/57/Leek.png"
              alt=""
            />
            <div class="plant-detail">
              <h2>Leek</h2>
              <span
                >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Et</span
              >
            </div>
          </div>
          <div class="plant-item">
            <img
              src="https://stardewvalleywiki.com/mediawiki/images/b/b1/Dandelion.png"
              alt=""
            />
            <div class="plant-detail">
              <h2>Dandelion</h2>
              <span
                >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Et</span
              >
            </div>
          </div>
        </div>
      </section>
      <% }) %> -->
    </main>
  </body>
  <script src="/plugin/fontawesome/all.min.js"></script>
</html>
